# Enable one or more of these accounts
# 
# You can either provide your passwords or your md5 hash. To get a md5 of a string type this into a shell:
# echo "import getpass, hashlib; print hashlib.md5(getpass.getpass()).hexdigest()" | python -
# 
#
#A sample Last.fm account. Uncomment this section to use it.
#[MyLastfmAccount]
#type = lastfm
#username =
#password =
#md5_password_hash = 
#
#A sample Libre.fm account. Uncomment this section to use it.
#[MyLibrefmAccount]
#type = librefm
#username = 
#password = 
#md5_password_hash = 
#
#A sample custom account account
#[MyCustomAccount]
#type = custom
#submit_url = 
#username = 
#password = 
#md5_password_hash = 
